.app__navbar{
    background-color: black;
    font-family: 'Open Sans';
    font-size: 18px;
}

.app__nav__login, .app__nav__signup{
    width: 40%;
}
.app__nav__login, .app__nav__signup{
    margin: 0 20px 0 20px;
}
.app__nav__seperate{
    width: 1px;
    border: 1px solid white;
}

.app__nav__auth{
    width: 15%;
}

.hover-effect {
    border-bottom: 2px solid #000;
    transition: border-bottom 0.4s ease-in;
  }
  
  .hover-effect:hover {
    border-bottom: 2px solid white;
  }
  

  .navbar-nav li{
    margin: 0 20px 0 20px;
  }